$fuente: 'Josefin Sans',
sans-serif;


$fuentetitulo: 'Bebas Neue',
cursive;


$backgcolor: #333;

$backgcolor2: #777;

$color3black: #000;

$color4white: #fff;

$backgcolor3: #555;

$blacktransp: rgba(0, 0, 0, 0.904);

$inputmodel: (background-color: $backgcolor3,
  color: $color4white,
  width: 90%,
  margin-top: 15px,
  padding: 12px,
  margin-left: 12px,
  border-bottom: solid #1fc 3px,
  margin-bottom: 15px,
)